@{
    // Set the title of the page to "Get to Know Joel"
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h2 class="display-4">Get to Know Joel!</h2>
    <br/>

    <!-- Link to the Baconsale website when the image is clicked -->
    <a href="https://www.baconsale.com" target="_blank">

        <!-- Display the image with a height of 500px -->
        <img src="/images/BaconsaleKate.jpg" alt="Headshot of Joel" height="500"/>
    </a>
</div>

<div class="text-center">
    <br/>
    
    <!-- Link to Quick Wits Comedy website -->
    <a href="https://www.qwcomedy.com" target="_blank">Check out Joel at Quick Wits Comedy</a>
    <br/><br/>

    <!-- Link to Baconsale website -->
    <a href="https://www.baconsale.com" target="_blank">Visit the Baconsale Website</a>
</div>

